<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        .container {
            width: 80%; /* Adjust the width as needed */
            text-align: center;
        }
        .header {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="header">Poker avond</h1>
        <header>
            <h2>{% block header %}{% endblock %}</h2>
        </header>
        <nav>
            <a href="/">Home</a> |
            <a href="/view_info">View Info</a> |
            <a href="/total_score">Total Score</a> |
            <a href="/separated_scores">Separated Scores</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
</html>
